.animate_bounce {
  animation-duration: .3s;
  animation-fill-mode: both;
  animation-name: bounce;
}
.animate_display {
  animation-duration: .4s;
  animation-fill-mode: both;
  animation-name: display-animate;
}
.animate_close {
  animation-duration: .4s;
  animation-fill-mode: both;
  animation-name: close-animate;
}

@keyframes bounce {
  0% {
    transform: scaleX(1);
  }
  25% {
    transform: scale3d(1.15, .85, 1);
  }
  55% {
    transform: scale3d(.85, 1.15, 1);
  }
  85% {
    transform: scale3d(1.05, .95, 1);
  }
  100% {
    transform: scaleX(1);
  }
}

@keyframes pop-show-animate {
  0% {
    transform: rotate3d(1, 1, 0, 45deg);
  }
  40% {
    transform: rotate3d(1, 1, 0, -15deg);
  }
  60% {
    transform: rotate3d(1, 1, 0, 0deg);
  }
  80% {
    transform: rotate3d(1, 1, 0, -5deg);
  }
  100% {
    transform: rotate3d(1, 1, 0, 0deg);
  }
}

@keyframes pop-close-animate {
  0% {
    transform: rotate3d(1, 1, 0, 5deg);
  }
  100% {
    transform: rotate3d(1, 1, 0, 45deg)
  }
}

@keyframes display-animate {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(2);
  }
  45% {
    transform: scale3d(1.15, .85, 1);
  }
  75% {
    transform: scale3d(.85, 1.15, 1);
  }
  90% {
    transform: scale3d(1.05, .95, 1);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes close-animate {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(2) rotate(0deg);
  }
  45% {
    transform: scale3d(1.15, .85, 1);
  }
  75% {
    transform: scale3d(.85, 1.15, 1);
  }
  90% {
    transform: scale3d(1.05, .95, 1);
  }
  100% {
    transform: scale(0);
  }
}
